<section class="hero py-16 px-12">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <div class="wrapper flex">
                <div class="static-txt"> Are You</div>
                <ul class="dyanamic-txts">
                    <li><span>Hungry?</span></li>
                    <li><span>Bored?</span></li>
                    <li><span>Happy?</span></li>
                    <li><span>Lonely?</span></li>
                </ul>
            </div>

            <!-- <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-6xl font-bold">Don't Wait !</h1> -->

            <!-- <h5 class="text-lg">Something hot. Something tasty.</h5> -->
            <button class="btn-prim px-6 py-2 rounded-full text-white font-bold mt-4">Order Now</button>
        </div>
        <div class="w-1/2 px-4">
            <img src="\img\Home-Image.png" alt="">
        </div>
    </div>
</section>

<section class="menu container mx-auto py-14 px-10">
    <h1 class="text-xl font-bold mb-8">All Cuisines</h1>
    <div class="grid grid-cols-4 gap-x-12 gap-y-16">
        <% pizzas.forEach(function(pizza){ %>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/<%=pizza.image %>" alt="Pizza">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">
                        <%=pizza.name%>
                    </h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">
                        <%=pizza.size%>
                    </span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">
                            ₹<%=pizza.price%>
                        </span>
                        <button data-pizza="<%= JSON.stringify(pizza) %>"
                            class="add-to-cart py-1 px-6 rounded-full flex items-center text-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <% })%>


    </div>
</section>